body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    /* background-image: url("../src/Assets/Images/screens/desktop4.svg");
    background-repeat: no-repeat; */


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
.navbar{
  transition: all 0.4s !important;
}
.normal div{
  color: black !important;
  border:0.5px solid #EF5557 !important;
  transition: all 0.4s;


}

.lightIcon{
  background-color: none  !important;
}
.darkIcon{
  background-color: white !important;

}

.dark div{
  color: white !important;
  border:0.5px solid black !important;
  transition: all 0.4s;


}
.MuiSwitch-thumb{
  color: white !important;
}
.MuiSwitch-track{
  background-color: white !important;
}
.normal:hover div{
  /* color: black !important; */
  border:0.5px solid white !important;
  border-radius: 10px !important;
  color: white !important;


}
.dark:hover div{
  border:0.5px solid white !important;
  border-radius: 10px !important;
}

@media only screen and (max-width: 450px) {
  
  /* body{
    background-image: url("../src/Assets/Images/screens/mobilebig.svg");
    background-repeat: no-repeat;

  } */
  .lightIcon{
    display: none;
  }
  .darkIcon{
    display: none;
  }
}